!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
  body
    h1= title
    #container
      #header!=partial('header')
      #content
        !{body}
