!!! 5
html(lang="en")
  head
    title= title
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
      $(function() {
        alert("done");
      });
  body
    h1= title
    #container
      #header!=partial('header')
      #content
        !{body}
