doctype 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    link(rel="stylesheet", type="text/css", href="/codemirror/lib/codemirror.css")
    script(type="text/javascript", src="/javascripts/jquery-1.7.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/init.js")
    script(type="text/javascript", src="/codemirror/lib/codemirror.js")
    script(type="text/javascript", src="/javascripts/lazzy.js")
  body
    include includes/header
    #container
      include includes/left-menu
      #content
        block content
