form#loginform(method='post', action='/login/')
  label Username:
    input(name='user[name]')
  label Password:
    input(name='user[password]', type="password")
  p
    input#login(type="submit", value="Login")
