- if (typeof(files) != 'undefined')
  - if (rootfolder == '/')
    for file in files
      - var filepath = rootfolder + file
        li(data-filepath=filepath)
          a= file
  - else
    ul
      for file in files
        - var filepath = rootfolder + '/' + file
          li(data-filepath=filepath)
            a= file
