body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ddd;
}
#left-menu {
  margin: 0;
}
.CodeMirror-scroll {
  height: 100%;
}
/*#editor {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 300px;
}*/

/* jQueryUI fixes */
.jstree.ui-widget-content { border: 0 !important; }
.jstree .ui-state-hover, .jstree.ui-widget-content .ui-state-hover, .jstree .ui-widget-header .ui-state-hover, .jstree .ui-state-focus, .jstree .ui-widget-content .ui-state-focus, .jstree .ui-widget-header .ui-state-focus { border: 0 !important; }
.jstree .ui-state-default, .jstree.ui-widget-content .ui-state-default, .jstree .ui-widget-header .ui-state-default { border: 0 !important; }
