body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ddd;
}
a {
  color: #00B7FF;
}
#left-menu,
#container {
  display: inline-block;
}
#editor {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 300px;
}
